<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://app.seats.io/chart.js"></script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">
<div id="chart"></div>


</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.chart = new seatsio.SeatingChart({
        divId: "chart",
        publicKey: "fe1f511c-eeae-469f-9f3a-7e52ba524646",
        event: "event1"
    }).render();
});
</script>

</body>
</html>
